@media only screen and (max-width: 784px){

/* NavBar */

    .NavBarText{
        display: none;
    }

    #Hamburger{
        display: block;
        height: 40px;
        width: 40px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
    }
    
    #HamburgerIMG{
        height: 40px;
        width: 40px;
        background-image: url(backgroundimages/Hamburger.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #NavBarList{
        align-items: flex-end;
        justify-content: flex-end;
    }

    #PhoneViewNav{
        display: none;
        width: 80%;
        height: calc(100vh - 60px);
        position: fixed;
        top: 60px;
        left: 100%;
        transform:translateX(-100%);
        z-index: 999;
        background-color: #575757;
    }

    #pNavBarList{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 50%;
        padding: 0;
    }

    .pNavBarText{
        width: 95%;
    }

    .pNavBarText a{
        display: block;
        color: white;
        text-decoration: none;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 25px;
    }

    .pNavBarTextActive{
        background-color: rgb(80, 80, 80);
        border-bottom: 2px solid #589EDE;
    }
/* Content */

    .ContentHeader{
        top: 10%;
    }

/* Footer */

    #Footer{
        height: 700px;
    }

    #FooterName{
        width: 250px;
    }

    #FooterFlex{
        flex-direction: column;
        top: 50%;
        height: 325px;
    }

    #FooterSocials{
        width: 100%;
    }

    #FooterSocials h2{
        text-align: center;
    }

    #FooterSocialFlex{
        justify-content: center;
        width: 100%;
    }

    #FooterDescription{
        text-align: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    #ReferencesFooter{
        height: 700px;
    }
    
    #Group3{
        height: 700px;
    }

/* Profile Content */

    #ContentBoxProfile{
        height: 1000px;
    }

    #IndexGroup2{
        height: 1000px;
    }

    #TitleSectionText{
        width: 300px;
    }

    #TitleSection a{
        margin-bottom: 30px;
    }

    #ProfileFlex{
        flex-direction: column;
        top: 55%;
        height: fit-content;
        align-items: center;
    }

    #ProfileAboutMe {
        width: 300px;
        text-align: center;
        margin-bottom: 40px;
    }

    #ProfileImage img{
        margin-bottom: 40px;
    }

    #ProfileDetails{
        width: 300px;
    }

    #ProfileDetails dl > div{
        margin-top: 5px;
        margin-bottom: 10px;
    }

    /* Experience Content */

    #ExperienceGroup2{
        height: 2400px;
    }

    #ContentBoxExperience{
        height: 2400px;
    }

    #ExperienceImg1{
        display: none;
    }

    #ExperienceImg2{
        display: none;
    }

    #ExperienceFlex1{
        height: fit-content;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        padding: 0;
        top: 10%;
    }

    #ExperienceText1{
        margin-top: 30px;
        margin-left: 0;
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: none;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        width: 300px;
    }

    #ExperienceFlex2{
        top: 42%;
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
    }

    #ExperienceFlex2 img{
        margin: 0;
    }

    #ExperienceText2{
        margin-top: 30px;
        margin-right: 0;
        padding-right: 0;
        border-right: none;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        width: 300px;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #ExperienceFlex3{
        height: fit-content;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        padding: 0;
        top: 69%;
    }

    #ExperienceText3{
        margin-top: 30px;
        margin-left: 0;
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: none;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        width: 300px;
    }

    /* Skills Content */

    #SkillsFlex{
        flex-direction: column;
    }

    #SkillsLanguages{
        width: 100%;
    }

    #SkillsSkills{
        width: 100%;
    }

    /* EducationContent */

    #EducationGroup2{
        height: 2100px;
    }

    #ContentBoxEducation{
        height: 2100px;
    }

    .EducationFlexClass{
        flex-direction: column;
        height: 800px;
        width: 350px;
    }

    .EducationHoverDivs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 350px;
    }

    .HoveredDivContainer{
        flex-direction: column;
        width: 350px;
        height: 800px;
    }

    /* References Content */

    #ReferencesText1{
        width: 400px;
    }

    #ReferencesText2{
        width: 400px;
        transform: translate(0,0);
        left: 10%;
        text-align: left;
    }

    #ReferencesText3{
        width: 400px;
    }

    /* Contact Content */

    #ContactGroup2-1{
        height: 750px;
    }

    #ContactGroup2-2{
        height: 750px;
    }

    #ContactBackgroundSection img{
        width: auto;
        height: 100vh;
    }

    #ContactBoxLinks{
        flex-direction: column;
        width: 150px;
        height: 75%;
    }

    .FormControl{
        width: 90vw;
    }

    #ContentBoxContact2{
        height: 750px;
    }

    #ContactInfoFlex{
        flex-direction: column;
    }

    #GoogleMaps{
        width: 100%;
        height: 300px;
    }

    #LocationAndNumber{
        width: 100%;
        margin-top: 30px;
        padding-left: 0;
        border-left: none;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        text-align: center;
        line-height: 35px;
    }





}