body, html {
    margin: 0;
    padding: 0;
}

/* NavBar */

#NavBar {
    Width: 100%;
    height: 60px;
    background-color: #262626;
    padding: auto;  
}

#NavBarList {
    width: 800px;
    height: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    float: right;
    height: 100%;
}

.NavBarText{
    width: 100px;
}

.NavBarText a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.NavBarText a:hover{
    color: rgb(219, 219, 219);
}

/* General Parralax */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }



  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

/* Page Specific Parallax */

#IndexGroup1{
    height: 100vh;
}

#IndexGroup2{
    height: 500px;
}

#IndexGroup3{
    height: 436px;
}

/* Title Section */

#TitleSection {
    width: 100vw;
    border: 0;
    padding: 0;
    margin: 0;
}

#TitleSectionImage {
    height: 100vh;

}

#TitleSectionArrow {
    width: 55px;
    height: 40px;
    background: url(backgroundimages/Down.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 93vh;    
    margin-left: auto;
    margin-right: auto;
}

/* Content Box */

#ContentBox {
    background-color: white;

    height: 500px;

}

/* Footer */

#Footer {
    background-color: #262626;
    height: 436px;


}









