body, html {
    margin: 0;
    padding: 0;
}

/* NavBar */



#PhoneViewNav{
    display: none;
}

#Hamburger{
    display: none;
}

#HamburgerIMG{
    background: transparent;
}

#NavBar {
    Width: 100%;
    height: 60px;
    background-color: #262626;
    padding: auto;  
    z-index: 20;
    position: fixed;
    top: 0;
}

#NavBarList {
    width: 800px;
    height: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    float: right;
    height: 100%;
}

.NavBarText{
    width: 100px;
    padding: 3px;

}

.NavBarText a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;

}

.NavBarText a:hover{
    color: rgb(192, 192, 192);
}

.NavBarTextActive{
    border-bottom: 1px solid #589EDE;
}

/* General Parralax */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    scroll-behavior: smooth;
  }

  .parallax__group {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }



  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

/* Page Specific Parallax */

#Group1{
    height: 100vh;
    z-index: 1;
}

#Group3{
    height: 436px;
    z-index: 2;
}

#IndexGroup2{
    height: 700px;
    z-index: 2;
}

#ExperienceGroup2{
    height: 1500px;
    z-index: 2;
}

#SkillsGroup2{
    height: 750px;
    z-index: 2;
}

#EducationGroup2{
    height: 1200px;
    z-index: 2;
}

#ContactGroup2{
    height: 850px;
    z-index: 2;
}

#ContactGroup2-1{
    height: 400px;
    z-index: 0;
}

#ContactGroup2-2{
    height: 600px;
    z-index: 2;
}

/* Title Section */

#TitleSection {
    width: 100vw;
    border: 0;
    padding: 0;
    margin: 0;
}

#TitleSectionImage {
    height: 100vh;
}

#TitleSectionArrow {
    width: 55px;
    height: 40px;
    background: url(backgroundimages/Down.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 93vh;    
    margin-left: auto;
    margin-right: auto;
}

/* Content Box */

#ContentBoxProfile {
    background-color: white;
    height: 700px;
}

#ContentBoxExperience {
    background-color: white;
    height: 1200px;
    display: flex;
    justify-content: space-between;
}

#ContentBoxSkills {
    height: 750px;
    background-color: white;
}

#ContentBoxEducation {
    height: 1500px;
    background-color: white;
}

.ContentHeader{
    left: 50%;
    width: 300px;
    text-align: center;
    top: 15%;
    position: absolute;
    transform: translate(-50%, -50%);    
    border-bottom: 1px solid rgb(0, 0, 0);
}

.ContentHeader h1{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 300;
}

/* Footer */

#Footer {
    background-color: #262626;
    height: 436px;
}

#FooterName h1{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 37px;
    color: white;
    font-weight: 200;
    letter-spacing: 1px;
}

#FooterName{
    border-bottom: 1px solid white;
    width: 400px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 19%;
    transform: translate(-50%, -50%);
    padding: 3px;
}

#FooterFlex {
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
}

#FooterSocials{
    width: 400px;
}

#FooterSocials h2{
    margin-top: 0;
    margin-bottom: 8px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 28px;

}

#FooterSocials img{
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

#FooterSocialFlex a{
    width: min-content;
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
}


#FooterSocialFlex{
    display: flex;
    justify-content: center;
    width: min-content;
    vertical-align: middle;
}

#FooterImg1{
    height: 56px;
}

#FooterImg2{
    height: 44px;
}

#FooterImg3{
    height: 56px;
}


#FooterDescription{
    text-align: right;
    width: 325px;
}

#FooterDescription h2{
    margin-top: 0;
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 28px;
}

#FooterDescription a{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Profile Title Section */

#TitleSectionText {
    border: 2px solid white;
    margin-top: 50vh;    
    margin-left: auto;
    margin-right: auto;
    width: 388px;
    height:min-content;
    text-align: center;


}

#TitleSectionText h1{
    margin: 0;
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

#TitleSectionText a{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

/* Profile Content Box */

#ProfileFlex {
    display: flex;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);    
    height: 300px;
    position: absolute;
    justify-content: space-between;
}

#ProfileAboutMe {
    width: 200px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Open Sans', sans-serif;
}

#ProfileAboutMe h2{
    margin-top: 0;
    margin-bottom: 10px;
    color: #589EDE; 
    font-weight: 400;
    font-size: 30px;
}

#ProfileImage img{
    height: 300px;
    width: auto;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 40px;
}

#ProfileDetails{
    width: 200px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    border: 2px solid #589EDE;
    padding: 10px;
    height: min-content;
    font-family: 'Open Sans', sans-serif;
}

#ProfileDetailsBold {
    font-size: 20px;
    font-weight: 400;
}

#ProfileDetails dl > div {
  display:grid;
  grid-template:auto / 1fr;
  margin-bottom: 20px;
  margin-top: 10px;
}

#ProfileDetails dl > div > dd{
    margin-left: 0;
}

#ProfileDetails h2{
    margin: 0;
    color: #589EDE;
    font-weight: 400;
    font-size: 30px;
}

#ProfileDetails dl{
    margin: 0;
}

/* Experience */

#ContentDivider {
    width: 100%;
    background-color: #262626;
    height: 200px;
}

/* Experience Content */

#ExperienceImg1 {
    position: absolute;
    left: 0;
    margin-top: 300px;
    height: 1500px;
    z-index: 1;
}

#ExperienceImg2{
    position: absolute;
    right: 0;
    margin-top: 325px;
    height: 1500px;
    z-index: 1;
}

#ExperienceFlex1{
    z-index: 2;
    height: 300px;
    top: 20%;
    position: absolute;
    width: 100%;
    padding-left: 100px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

#ExperienceFlex1 img{
    height: 300px;
}

#ExperienceText1{
    margin-left: 30px;
    padding-left: 30px;
    border-left: 2px solid black;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: black;
    width: 45%;
}

#ExperienceText1 h2{
    margin: 0;
}

#ExperienceText2 h2{
    margin: 0;
}

#ExperienceFlex2{
    z-index: 2;
    height: 300px;
    top: 55%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: row-reverse;
}
#ExperienceFlex2 img{
    height: 300px;
    margin-right: 100px;
}

#ExperienceText2{
    margin-right: 30px;
    padding-right: 30px;
    border-right: 2px solid black;
    height: 100%;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: black;
    width: 45%;
}

#ExperienceFlex3{
    z-index: 2;
    height: 300px;
    top: 85%;
    position: absolute;
    width: 100%;
    padding-left: 100px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

#ExperienceFlex3 img{
    height: 300px;
}

#ExperienceText3{
    margin-left: 30px;
    padding-left: 30px;
    border-left: 2px solid black;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: black;
    width: 45%;
}

#ExperienceText3 h2{
    margin: 0;
}

/* Skills Content */

#SkillsFlex{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    top: 40%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);  
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

#SkillsFlex h2{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

#SkillsLanguages{
    width: 40%;
    padding: 10px;
    display: inline-block;
    flex-direction: row;
    list-style: none;
}

#SkillsSkills{
    width: 40%;
    padding: 10px;
    display: inline-block;
    flex-direction: row;
    list-style: none;
}

#SkillsLanguages div{
    float: right;
}

#SkillsSkills div{
    float: right;
}

#SkillsLanguages a{
    font-size: 17px;
}

.RatingSet img{
    height: 15px;
    position: relative;
    top: 50%;
    transform: translateY(50%);

}

.HoverOverThing{
    transition: 0.3s;
}

.HoverOverThing img{
    transition: 0.3s;
}

.HoverOverThing:hover img{
    margin-left: 2px;
    margin-right: 2px;
}

.HoverOverThing a{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: black;
}

/* Education Content */

/* .ContentHeader{
    left: 50%;
    width: 300px;
    text-align: center;
    top: 15%;
    position: absolute;
    transform: translate(-50%, -50%);    
    border-bottom: 1px solid rgb(0, 0, 0);
}

.ContentHeader h1{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 300;
} */

#HoverOverMe{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.EducationFlexClass{
    height: 350px;
    display: flex;
    width: 800px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.EducationHoverDivs{
    width: 350px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transition: 0.3s;
    position: relative;
    background-color: rgb(230, 230, 230);
}

#EdIMG1{
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);  
    width: 375px;
    position: absolute;
}

#EdIMG2{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    height: 325px;
    position: absolute;
}

#EdIMG3{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    height: 280px;
    position: absolute;
}

#EdIMG4{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    height: 275px;
    position: absolute;
}

#EdIMG1B{
    background-image: url(Education/EducationIMG1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#EdIMG2B{
    background-image: url(Education/EducationIMG2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#EdIMG3B{
    background-image: url(Education/EducationIMG3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#EdIMG4B{
    background-image: url(Education/EducationIMG4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.HoveredDiv{
    color: transparent;
    transition: 0.3s;
    height: 350px;
    width: 335px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.HoveredDiv:hover{
    color: white;
    cursor: pointer;
    background: rgba(71, 91, 112, 0.6);
}

.HoveredDiv > *{
    transition: inherit;
}
.HoveredDiv > *:not(h1){
    opacity: 0;
    transform: translateX(80px);
}

.HoveredDiv:hover > *:not(h1){
    opacity: 1;
    transform: translateX(0);
}

#EducationFlex1{
    margin-top: 275px;
}

#EducationFlex2{
    margin-top: 100px;
}

.HoveredDivContainer{
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 350px;
    position: absolute;
}

/* References Page */

#ReferencesTitleSection{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(backgroundimages/ReferencesBackground1.png);
    min-height:100vh;
}

#ContentBoxReferences{
    height: 500px;
    background-color: white;
}

#TitleSectionArrowReferences {
    width: 55px;
    height: 40px;
    background: url(backgroundimages/Down.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 93vh;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#ContentBoxReferences1{
    background-image: url(backgroundimages/ReferencesBackground2.jpg);
    height: 400px;
}

#ContentBoxReferences2{
    background-image:  url(backgroundimages/ReferencesBackground3.jpg);
    height: 400px;
}

#ContentBoxReferences3{
    background-image: url(backgroundimages/ReferencesBackground4.jpg);
    height: 400px;
}

.ReferencesParallax{
    opacity: 0.5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ReferencesText{
    color: #000;
    position: absolute;
    font-family: 'Open Sans', sans-serif;

}

#ReferencesText1{
    top: calc(100vh + 100px);
    color: black;
    left: 10%;
    width: 500px;
    
}

#ReferencesText2{
    top: calc(100vh + 400px + 100px);
    text-align: right;
    transform: translate(-100%, 0); 
    left: 90%;
    width: 500px;
    color: white;
}

#ReferencesText3{
    top: calc(100vh + 800px + 100px);
    color: black;
    left: 10%;
    width: 500px;
}

.ReferencesText h1{
    background-color: transparent;
    margin: 0;
}

.ReferencesText a{
    background-color: transparent;
}

#ReferencesBlackOverlay{
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: calc(100vh + 400px);
    width: 100%;
    height: 400px;
}


/* ReferencesFooter */

#ReferencesFooter {
    background-color: #262626;
    height: 436px;
    top: calc(100vh + 1200px);
}


/* Contact Content */

#ContactBackgroundSection{
    top: -100px;
    position: absolute;
    width: 100%;
}

#ContactBackgroundSection img{
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 0;
}

#ContentBoxContact{
    height: 850px;
    background-color: white;
}

#ContentBoxContact2{
    position: relative;
    top: 0;
    height: 600px;
    background-color: white;
}

#ContactBoxLinks{
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 60%;
}

.ContactBoxCircle{
    border-radius: 50%;
    background-color: #262626;
    height: 150px;
    width: 150px;
}

.ContactBoxCircle img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ContactIMG1{
    height: 80px;
}

#ContactIMG2{
    height: 60px;
}

#ContactIMG3{
    height: 80px;
}

#ContactFormImageFlex{
    position: absolute;
    top: 28%;
    left: 5%;
    height: 521px;
    display: flex;
    justify-content: space-between;
}

#ContactForm form{
    display: flex;
    flex-direction: column;
}

#ContactFormStyling{
    transition: all 4s ease-in-out;
}

#ContactFormStyling textarea{
    height: 350px;
}

.FormControl{
    width: 800px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}

input{
    height: 45px;
}

form .submit{
    background: #589EDE;
    border-color: transparent;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;

}

#ContactImage{
    margin-left: 100px;
    background-image: url(Contact/ContactFiller.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 521px;
    width: calc(100vw - 800px - 300px);
}

#ContactInfoFlex{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    top: 10%;
    display: flex;
    justify-content: space-between;
}

#GoogleMaps{
    width: 60%;
    height: 450px;
    border: 1px solid black;
}

#LocationAndNumber{
    width: 35%;
    padding-left: 20px;
    border-left: 2px solid black;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

#LocationAndNumber div > dd{
    margin: 0;
}

#ContactBold{
    font-weight: bold;
}

