@media only screen and (min-width: 785px) and (max-width: 980px) {
    
/* NavBar */

    #NavBarList{
        width: 750px;
    }

    .NavBarText{
        width: 95px;
    }

/* TitleSection */

    #TitleSectionArrow{
        width: 50px;
    }

/* Footer */

    #FooterName{
        width: 325px;
    }

    #FooterName h1{
        font-size: 33px;
    }

    #FooterFlex{
        width: 90%;
    }

    #FooterSocials{
        width: 350px;
    }

    #FooterSocials h2{
        font-size: 25px;
    }

    #FooterImg1{
        height: 50px;
    }

    #FooterImg2{
        height: 40px;
    }

    #FooterImg3{
        height: 50px;
    }

    #FooterDescripton{
        width: 300px;
    }

    #FooterDescription h2{
        font-size: 25px;
    }

    #FooterDescription a{
        font-size: 16px;
        font-weight: 200;
    }

/* Footer Title Section */

    #TitleSectionText{
        border: 1px solid white;
        width: 340px;
    }

    #TitleSectionText h1{
        font-size: 39px;
    }

/* Profile Content Box */

    #ProfileAboutMe{
        width: 160px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #ProfileAboutMe h2{
        font-size: 28px;
    }

    #ProfileAboutMe a{
        font-size: 15px;
    }

    #ProfileImage img{
        margin-left: 20px;
        margin-right: 20px;
    }

    #ProfileDetails{
        width: 160px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #ProfileDetails h2{
        font-size: 28px;
    }

    #ProfileDetailsBold{
        font-size: 17px;
    }

    #ProfileDetails dl > div > dd{
        font-size: 15px;
    }

    /* Exoerience Content */

    #ExperienceImg1{
        left: -70px;
    }

    #ExperienceImg2{
        right: -70px;
    }

    #ExperienceFlex1{
        height: 250px;
        padding-left: 60px;
    }

    #ExperienceFlex1 img{
        height: 250px;
    }
    
    #ExperienceFlex2{
        height: 250px;
    }

    #ExperienceFlex2 img{
        height: 250px;
        margin-right: 60px;
    }

    #ExperienceText1{
        width: 40%;
    }

    #ExperienceText2{
        width: 40%;
    }

    /* Skills Content */

    #SkillsFlex{
        width: 90%;
        justify-content: space-around;
    }

    #SkillsLanguages{
        padding: 5px;
    }

    #SkillsSkills{
        padding: 5px;
    }
    
    /* Education Content */

    .EducationFlexClass{
        height: 300px;
        width: 650px;
    }

    .EducationHoverDivs{
        width: 300px;
    }

    #EdIMG1{
        width: 325px;
    }

    #EdIMG2{
        height: 250px;
    }

    #EdIMG3{
        height: 230px;
    }

    #EdIMG4{
        height: 235px;
    }

    .HoveredDiv{
        height: 300px;
        width: 292px;
        padding-left: 8px;
    }

    #EducationFlex2{
        margin-top: 50px;
    }

    .HoveredDivContainer{
        width: 650;
    }

    /* References Content */

    #ReferencesText1{
        left: 5%;
        width: 450px;
    }

    #ReferencesText2{
        left: 95%;
        width: 450px;
    }

    #ReferencesText3{
        left: 5%;
        width: 450px;
    }
    
    .ReferencesText h1{
        font-size: 25px;
    }

    .ReferencesText a{
        font-size: 16px;
    }

    /* Contact Content */

    #ContactBoxLinks{
        height: 125px;
        width: 70%;
    }

    .ContactBoxCircle{
        height: 125px;
        width: 125px;
    }

    #ContactIMG1{
        height: 65px;
    }

    #ContactIMG2{
        height: 50px;
    }

    #ContactIMG3{
        height: 65px;
    }

    .FormControl{
        width: 700px;
    }

    #GoogleMaps{
        width: 50%;
    }

    #LocationAndNumber{
        width: 42%;
    }

    




    









}

